{% extends "base.html" %}
{% block head %}
<title>Line Service</title>
{% endblock %}

{% block content %}

<div class="d-flex flex-row justify-content-center">
    <div class="form-div d-flex flex-column">
        <h1 class="d-flex flex-row justify-content-center" style="margin-top: 2px;"><strong>Line Service</strong></h1>
        <div class="card bg-light">
            <div class="card-body">
                <p>This service displays information about given line.</p>
                <p>Field expects line code.</p> 
                <p>Leave the field empty to see all lines.</p>
            </div>
        </div>
        <form class="container mt-2 mb-5" method="POST">
            {{ form.csrf_token }}
            
            <div class="mx-auto" style="max-width: 550px;">
                
                <div class="row g-2 mb-2">
                    <div class="col-12">
                        {{ form.line_code(placeholder="Line Code", class="form-control w-100") }}
                    </div>
                </div>

                <div class="row g-2 align-items-center">
                    <div class="col-auto">
                        <img src="data:image/png;base64,{{ captcha }}" alt="CAPTCHA">
                    </div>
                    
                    <div class="col">
                        {{ form.captcha(placeholder="Enter captcha", class="form-control") }}
                    </div>
                    
                    <div class="col-auto">
                        <button class="btn btn-primary px-4" type="submit">
                            Search
                        </button>
                    </div>
                </div>
                {% if message is defined %}
                    <div class="row mt-2">
                        <div class="col-12 text-center">
                            <p class="text-danger"><strong>{{message}}</strong></p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% if result is defined %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th scope="col">Line code</th>
            <th scope="col">Line name</th>
            <th scope="col">Complete line name</th>
            <th scope="col">Region</th>
            <th scope="col">Two-way trip time (minutes)</th>

            </tr>
        </thead>
        <tbody>
            {% for element in result %}
                <tr>
                    <td>{{element["Line code"]}}</td>
                    <td>{{element["Line name"]}}</td>
                    <td>{{element["Complete line name"]}}</td>
                    <td>{{element["Region"]}}</td>
                    <td>{{element["Two-way trip time"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}