{% extends "base.html" %}
{% block head %}
<title>Archive</title>
{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-center">
    <div class="form-div d-flex flex-column">
        <h1 class="d-flex flex-row justify-content-center" style="margin-top: 2px;"><strong>Archive</strong></h1>
        <div class="card bg-light" style="width: 35rem;">
            <div class="card-body">
                <p>This service displays information about archive logs of the specified line at given date.</p>
                <p>First field expects date.</p> 
                <p>Second field expects line code.</p>
            </div>
        </div>
        <form class="row g-2 d-flex flex-row justify-content-center" style="margin-top: 2px;" method="POST">
            {{ form.hidden_tag }}
            <div class="col-auto">
                {{ form.date(placeholder="YYYYMMDD") }}
                {{ form.line_code(placeholder="Line Code") }}
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
{% if message is defined %}
    <div class="d-flex flex-row justify-content-center">
        <p class="text-danger"><strong>{{message}}</strong></p>
    </div>
{% endif %}
{% if result is defined %}
    {% for element in result %}
        <p>{{element}}</p>
    {% endfor %}
{% endif %}
{% endblock %}