{% extends "base.html" %}
{% block head %}
<title>Archive</title>
{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-center">
    <div class="form-div d-flex flex-column">
        <h1 class="d-flex flex-row justify-content-center" style="margin-top: 2px;"><strong>Archive</strong></h1>
        <div class="card bg-light" style="width: 35rem;">
            <div class="card-body">
                <p>This service displays information about archive logs of the specified line at given date.</p>
                <p>First field expects date.</p> 
                <p>Second field expects line code.</p>
            </div>
        </div>
        <form class="row g-2 d-flex flex-row justify-content-center" style="margin-top: 2px;" method="POST">
            {{ form.hidden_tag }}
            <div class="col-auto">
                {{ form.date(placeholder="YYYYMMDD") }}
                {{ form.line_code(placeholder="Line Code") }}
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
{% if message is defined %}
    <div class="d-flex flex-row justify-content-center">
        <p class="text-danger"><strong>{{message}}</strong></p>
    </div>
{% endif %}
{% if result is defined %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th scope="col">Line code</th>
            <th scope="col">Route code</th>
            <th scope="col">Door number</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Planned start date</th>
            <th scope="col">Edited start date</th>
            </tr>
        </thead>
        <tbody>
            {% for element in result %}
                <tr>
                    <td>{{element["Line code"]}}</td>
                    <td>{{element["Route code"]}}</td>
                    <td>{{element["Door number"]}}</td>
                    <td>{{element["Mission start date"]}}</td>
                    <td>{{element["Mission end date"]}}</td>
                    <td>{{element["Planned mission start date"]}}</td>
                    <td>{{element["Edited mission start date"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}