<!DOCTYPE html>

<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  
  <nav class="navbar navbar-expand bg-primary">
      <div class="collapse navbar-collapse d-flex flex-row justify-content-center">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link link-light" href="announcements">Announcements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="archive">Archive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="departure_count">Departure Count</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link link-light" href="line_service">Line Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="departure_hours">Departure Hours</a>
          </li>
        </ul>
      </div>
  </nav>
  {% block head %}{% endblock %}
</head>
<section class="content">
  {% block content %}{% endblock %}
</section>