{% extends "base.html" %}
{% block head %}
<title>Archive</title>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column mt-3">
    <h1 class="d-flex flex-row justify-content-center" style="margin-top: 2px;"><strong>Welcome!</strong></h1>
    <div class="card bg-light d-flex flex-row justify-content-center">
        <div class="card-body">
            <p>This web application displays information related to IETT.</p>
            <p>Currently, there exists several features such as Announcements, Archive Logs, Departure Hours and such.</p>
            <p>To try any of these, use the upper navigation bar.</p>
            <p>For any suggestion, you can use the button on leftmost corner. All suggestions are evaluated carefully.</p>
        </div>
    </div>
</div>
{% endblock %}